/* 0. Phan navbar */

.navbar {
    background: transparent;
    border-bottom: none;
    padding: 50px 0 10px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav>li>a {
    color: white;
}

.navbar-light .navbar-nav>li {
    margin-right: 8px;
}

.navbar-light .navbar-nav>li:last-of-type {
    margin-right: 0;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: black;
}

.navbar-brand.nav-link {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
}

.dropdown-menu {
    padding: 0px;
    box-shadow: none;
    border: none;
    border-radius: 0px;
}

.dropdown-menu li a {
    padding: 4px 8px;
    border-radius: 6px;
}

.dropdown-item {
    padding: 0.6rem 1.5rem;
}

.dropdown-item:hover {
    background-color: red;
}

.dropdown-item:hover a {
    color: white;
    text-decoration: none;
}

.navbar-scroll {
    background: #ffffff;
    padding: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.navbar-scroll .navbar-brand {
    color: black;
}

.navbar-scroll .nav-link {
    color: black;
}

.navbar-scroll .navbar-nav {
    background-color: white;
}

.nav-dropdown-scroll {
    background: #e7eaea;
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.navbar-toggle,
.navbar-light .navbar-toggle:focus,
.navbar-light .navbar-toggle:hover {
    background: #fff;
}

.navbar-collapse.show {
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.news_dropdown1:hover .dropdown-menu {
    display: block;
}

.dropdown-user-toggle:hover .drop-user-item {
    display: block;
}

@media (max-width: 768px) {
    .dropdown-menu {
        display: none;
    }
    .nav-dropdown-scroll {
        background: white;
        box-shadow: unset;
    }
    .user-important {
        display: block;
    }
}

.news_dropdown1 .dropdown-menu:hover+.nav-link {
    background-color: white;
    color: black;
}

#news_dropdown2:hover .dropdown-menu {
    display: block;
}

@media (max-width: 768px) {
    .container {
        max-width: unset;
    }
    .navbar-toggler {
        margin-left: 15px;
    }
    .nav-link {
        padding-left: 15px;
    }
}

.dropdown-menu {
    margin-top: 0px;
}

@media (min-width: 768px) {
    .fixed-top {
        position: fixed;
        top: 0;
    }
}


/* 0.2 Footer */

.footer-dark {
    margin-top: 100px;
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #126180;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width: 767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width: 991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}


/* 0.3. Little line after h2 */

h2.heading:after {
    content: " ";
    display: block;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #d0d0d0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


/**************************************** PHAN RIENG ***************************************/


/* ******************************************************************** */


/* 1. Trang chu */


/* ******************************************************************** */


/* ********************************** */


/* 1.1. Carousel after navbar */


/* ********************************** */

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-size: cover;
}


/* ********************************** */


/* 1.2. Khung hinh trong carousel: animation */


/* ********************************** */

.carouselContainer {
    background-color: #333;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.carouselContainer img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

@-webkit-keyframes kenburns {
    0% {
        transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(1.2, 1.2, 1.2) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes kenburns {
    0% {
        transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
    100% {
        transform: scale3d(1.2, 1.2, 1.2) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}


/* ********************************** */


/* 1.3. Jumbotron: noi dung trong container slide */


/* ********************************** */

.carouselContainer .display-4 {
    font-size: 2.5rem;
}

.carouselContainer .jumbotron p {
    font-size: 1rem;
    font-weight: 300;
}

.swiper-container .btn {
    background-color: red;
    border-color: red;
    font-weight: 500;
    width: 150px;
    color: white;
}

.swiper-container .btn:hover {
    color: white;
    background-color: #009EE5;
    border-color: #009EE5;
}

.jumbotron {
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    background: transparent;
    padding: 10vw;
}


/* ********************************** */


/* 1.4  Swiper tin tuc */


/* ********************************** */

.swiper-container-1 {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-container-1 .swiper-wrapper {
    width: 350px;
}

.swiper-container-1 .swiper-slide {
    height: 540px;
    width: 360px;
}

.swiper-pagination-1 {
    display: flex;
    justify-content: center;
}

.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #ffffff;
    min-width: 270px;
    height: 470px;
}

.hover {
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.hover .thumbnail img {
    transform: scale(1.1);
    opacity: 0.6;
}

.post-module .thumbnail {
    background: #000000;
    height: 400px;
    overflow: hidden;
}

.post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: red;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    border-radius: 100%;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    box-sizing: border-box;
}

.post-module .thumbnail .date .day {
    font-size: 18px;
}

.post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
}

.post-module .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-module .post-content {
    position: absolute;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    padding: 30px;
    -webkti-box-sizing: border-box;
    box-sizing: border-box;
}

.post-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: red;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
}

.post-module .post-content .sub_title {
    margin-top: 12px;
    padding: 0 0 20px;
    color: red;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}

.post-module .post-content .description {
    display: none;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
}

.post-module .post-content .post-meta {
    margin: 0px;
    color: #999999;
    font-size: 14px;
}

.post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0;
}

.post-module .post-content .post-meta .timestamp i {
    color: red;
}

.post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
}

.hover .post-content .description {
    display: block;
    height: auto;
    opacity: 1;
}

.news-container {
    max-width: 350px;
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.news-container:before,
.news-container:after {
    content: "";
    display: block;
    clear: both;
}

.swiper-container-1 .btn {
    background-color: red;
    border-color: red;
    font-weight: 500;
    /* margin-top: 40px; */
    width: 150px;
    color: white;
}

.swiper-container-1 .btn:hover {
    color: white;
    background-color: #009EE5;
    border-color: #009EE5;
}

.swiper-pagination-1 {
    margin-bottom: 20px;
}


/* ********************************** */


/* 1.5. Row learn & connect */


/* ********************************** */

.learn-connect-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 34px 26px;
    height: 150px;
    background-color: #eee;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
}

.learn-connect-cards .card:hover {
    background-color: #f1b500;
}

.learn-connect-cards a {
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
}

.learn-connect-cards .icon {
    font-size: 2rem;
    color: red;
    position: absolute;
    background-repeat: no-repeat;
    top: -23px;
    left: 50%;
    transform: translateX(-50%);
    height: 38px;
    width: 33px;
    z-index: 100;
}

.learn-connect-cards .card:hover .icon {
    color: red;
}

.learn-connect-cards .card-title {
    font-size: 13px;
    font-size: 0.8125rem;
    text-align: center;
    color: #202020;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}


/* Phan Card*/

.card .card-title {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
    background-position: bottom;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 18px;
    padding-top: 0;
}

.learn-connect-cards .card:hover .card-title {
    color: white;
}

.learn-connect-cards .card-text {
    font-size: 15px;
    font-style: italic;
    text-transform: none;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
}

.learn-connect-cards .card:hover .card-text {
    color: white;
}

.learn-connect-cards .btn {
    background-color: red;
    border-color: red;
    font-weight: 500;
    width: 150px;
    color: white;
}

.learn-connect-cards .btn:hover {
    color: white;
    background-color: #009EE5;
    border-color: #009EE5;
}


/* ********************************** */


/* 1.6. Phan Gem chung */


/* ********************************** */

.parallax {
    background-image: url("../cover.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ********************************** */


/* 1.7. Featured Gem */


/* ********************************** */

.featured-gem {
    margin-top: 50px;
    padding-bottom: 80px;
    background-size: cover;
}

.text-shadow {
    font-size: 1.8em;
    text-align: left;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.featured-gem .col {
    text-align: center;
}

.featured-gem .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-gem .container .heading {
    color: #ff1e4b;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.featured-gem .container .btn {
    background-color: red;
    border-color: red;
    font-weight: 500;
    margin-top: 40px;
    width: 150px;
    color: white;
    box-shadow: 0px 2px 10px #ff174563;
}

.featured-gem .container .btn:hover {
    color: white;
    background-color: #009EE5;
    border-color: #009EE5;
    box-shadow: 0px 2px 10px #009EE55e;
}


/* 1.8. tham khao */

.grid__item {
    height: 450px;
    margin-top: 60px;
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .grid__item {
        height: auto;
    }
}

.card__img_ctn {
    height: 200px;
    overflow: hidden;
}

.card__img {
    display: block;
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.grid__item:hover .card__img {
    transform: scale(1.2);
}

.card__content {
    padding: 1.3rem 1.3rem;
}

.card__header {
    font-size: 1.3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 10px;
}

.card__text {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}

.card__btn {
    position: absolute;
    bottom: 20px;
    left: 0;
    transform: translate(27%, 0);
    display: block;
    width: 65%;
    padding: 0.3rem;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    background-color: red;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.card__btn span {
    margin-left: 1rem;
}

.card__btn:hover,
.card__btn:active {
    background-color: #009EE581;
    color: #795a00;
}


/* 8. Phan Gioi Thieu */


/* 8.1. Heading + Content */

.about-ctn .about-heading {
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
}

.about-ctn .about-heading p {
    font-size: 1.5rem;
    font-weight: bolder;
    color: red;
    margin-bottom: 0px;
}

.about-ctn .about-heading h2:after {
    content: " ";
    display: block;
    width: 180px;
    margin: auto;
    margin-top: 10px;
    border: 2px solid #d0d0d0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.about-ctn .about-content {
    margin-bottom: 100px;
}

.about-ctn .about-content p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
}


/* 8.2. Tab gioi thieu*/

.about-ctn .about {
    width: 100%;
    max-width: 1008px;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}

.about-ctn .about .four-cards,
.about-ctn .about .three-cards {
    margin-bottom: 30px;
}

.about-ctn .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -18px;
    margin-left: -18px;
}

.about-ctn .about .card {
    margin-bottom: 20px;
    border: none;
    padding-left: 18px;
    background: url(/assets/img/icons/bg-vert-dots.png) repeat-y 0 0;
}

.about-ctn .card.card-center-aligned {
    text-align: center;
}

.about-ctn .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
}

.about-ctn .about .card .card-title {
    font-size: 45px;
    font-size: 2rem;
    color: red;
    line-height: 1.1em;
    font-family: din-condensed, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.about-ctn .card .card-title {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
    background-position: bottom;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 18px;
    padding-top: 0;
}

.about-ctn .card .card-title:after {
    content: " ";
    display: block;
    width: 80px;
    margin: auto;
    margin-top: 10px;
    border: 2px solid rgba(178, 0, 0, 0.295);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.about-ctn .about h2 {
    text-align: center;
    background-position: bottom;
}

.about-ctn .about .card .card-text {
    font-size: 1.1rem;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
    margin-bottom: 0;
}

.about-ctn .card .card-text {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 18px;
    margin-top: 10px;
}

.about-ctn .about .three-cards .col-md-4:nth-child(even) {
    border-left: 1px dotted black;
    border-right: 1px dotted black;
}

@media only screen and (max-width: 768px) {
    .about-ctn .about .three-cards .col-md-4:nth-child(even) {
        border: none;
    }
}

.about-ctn .about .three-cards .card a {
    font-size: 13px;
    font-size: 0.8125rem;
}

.about-ctn .card.card-center-aligned a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

a.about-ctn {
    font-size: 14px;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: freight-sans-pro, sans-serif;
    border-bottom: 1px dotted transparent;
    letter-spacing: 1px;
}


/* 8.3. Write message + Map */

.about-ctn .row h3 {
    font-size: 2rem;
    font-weight: 400;
    color: red;
}

.write-message {
    padding: 50px 20px 20px 20px;
}

.is-success.input {
    border-color: #6449e7;
}

.is-success.input:focus {
    border-color: #fa6742;
    box-shadow: 0 0.0625em 0.125em rgba(10, 10, 10, 0.219);
}

.submit-button {
    text-align: center;
}

.button.is-link {
    background-color: #6449e7;
}

.button.is-link:hover {
    background-color: #fa6742;
}


/* Google map */

.google-map {
    padding: 50px 20px 20px 20px;
}

#map {
    width: 100%;
    height: 367px;
}

iframe {
    border: 0;
}